body {
    background-color: #D3E4CD;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 41px;
    color: #304d30;
}

h3 {
    color: #304d30;
}

p {
    color: #304d30;
}

.titulo-home {
    margin-bottom: 0px;
}

.subtitulo {
    margin-top: 5px;
    font-size: 23px;
    color: #304d30;
}

.titulo-receta {
    font-size: 30px;
}

.lista,
.carta-receta {
    border: 6px #f6e4d5 outset;
    background-color: #FEF5ED;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
}

.lista-recipes {
    padding-left: 0px;
    margin-top: 50px;
    margin-bottom: 60px;
}

.carta-receta {
    padding: 20px;
    padding-bottom: 14px;
    padding-top: 0px;
}

.recipes {
    list-style: none;
    font-size: 20px;
    margin-bottom: 20px;
}

li {
    list-style: none;
    padding: 4px;
}

ul,
ol {
    padding-left: 0px;
}

a {
    text-decoration: none;
    color: #439543;
    display: inline-block;
    width: 132px;
    font-size: 22px;
}

.lista-recipes a:hover {
    text-decoration: underline;
}

button {
    background-color: #c0efb7;
    width: 134px;
    padding: 1px 0px 1px 0px;
    border: 3px outset rgb(185, 224, 174);
    margin-top: 6px;
}

button:hover {
    border: 3px inset  rgb(185, 224, 174);;
}